.home-page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px 32px 52px;
    position: relative;
}

@media (max-width: 1080px) {
    .home-page {
        padding: 28px 24px 44px;
    }
}

@media (max-width: 640px) {
    .home-page {
        padding: 22px 16px 36px;
    }
}
